<div class="container">

    <div class="row">
        <div class="col-12 col-lg-6">
            <h2>Cuentanos tu idea</h2>
            <p class="my-5">Queremos conocer tus proyectos, escribenos a nuestro correo electrónico, llamanos o escribenos 
               por Whatsapp, para coordinar una entrevista y empezar a trabajar junstos.
            </p>
            <p class=""><i class="fas fa-envelope" ></i> contacto@bruck.cl</p>
            <p class=""><i class="fas fa-phone-alt" href="tel:569-338-48953"></i> +56933848953</p>
           


        </div>
        <div class="col-12 col-lg-6">
            <img src="https://i.ibb.co/yFs6r0G/contact.jpg" class="w-100 rounded shadow-sm mb-5" alt="imagen contacto"/>

        </div>
    </div>
    <a href="https://wa.me/56933848953" class="whatsapp" target="_blank" rel="noopener noreferrer"> <i class="fab fa-whatsapp whatsapp-icon"></i></a>
</div>
