<footer class="footer mt-auto pt-4 pb-3">
    <div class="container text-white">
      <div class="row w-100">
        <div class="col-12 col-lg-6  ">
          <address>
            <p class=""><a href="mailto:contacto@bruck.cl"><i class="fas fa-envelope"></i> contacto@bruck.cl </a></p>
            
          </address>
          <p class=""><a href="tel:+569-338-48953"><i class="fas fa-phone-alt"></i> +56933848953</a></p>
          <p class=""><i class="fas fa-map-marker-alt"></i> Direccion</p> 
    
        </div>
        <div class="col-12 col-lg-6 mt-3 ">
          
           <a href="https://twitter.com"><i class="fab fa-twitter p-3 networks mr-2 shadow-sm grow"></i></a> 
         
          
           <a href="https://www.linkedin.com"><i class="fab fa-linkedin-in p-3 networks shadow-sm grow"></i></a>
        </div>
      </div>
      
      
    </div>
  </footer>