footer {
    background-color: var(--main-color)
    
}
.networks {
    border: 1px solid #fff;
    display: inline-block;
    border-radius: 60px;
    padding: 0.5em 0.6em;
    cursor: pointer;
  
}

.networks:hover {
    color: var(--main-color);
    background-color: white;
}
a{
    text-decoration: none;
    color: white;
}

