<nav class="navbar navbar-expand-md navbar fixed-top shadow-sm">
    <div class="container">

      <a class="navbar-brand" href="#"><img src="https://i.ibb.co/wN4WcX6/Web-1280-2.png" alt="logo" width="200"></a>
      <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    
        <span class="material-icons text-white-50 ">
          menu
          </span>
        <!-- <span class="navbar-toggler-icon "></span> -->
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item active">
            <a class="nav-link" href="#"><i class="fas fa-home"></i> Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-briefcase"></i> Portafolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#" ><i class="fas fa-envelope"></i> Contacto</a>
          </li>
        </ul>
    
      </div>
    </div>
  </nav>
