<div class="jumbotron shadow-sm ">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <h1>Software centrado en el usuario 🎯</h1>
          <p class="lead">Creamos tecnología de calidad</p>
          <hr class="my-4 text-secondary">
          <p class="text-secondary">Desarrollo de software a medida multiplataforma, creamos las apps y webs que tu negocio necesita </p> 
          <button mat-raised-button color="primary" class="mt-2" (click)="goToContact()">Contáctanos</button>
        </div>
        <div class="col-12 col-lg-6 text-center mt-3">
          <img src="https://i.ibb.co/G9Xq4Kh/principal2.png" class="w-100" alt="Imagen Principal Bruck">
    
        </div>
  
      </div>
    </div>
  </div>
  