<div class="jumbotron shadow-sm ">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <h1>Software centrado en el usuario 🎯</h1>
          <p class="lead">Creamos tecnología de calidad</p>
          <hr class="my-4">
          <p>Desarollo de software a medida multiplataforma, creamos las apps y webs que tu negocio necesita </p> 
          <!-- <h1 class="float-left">👩🏻‍💻👨‍💻</h1> -->
          <button mat-raised-button color="primary">Contáctanos</button>
        </div>
        <div class="col-12 col-lg-6 text-center">
          <img src="https://i.ibb.co/G9Xq4Kh/principal2.png" class="w-100">
    
        </div>
  
      </div>
    </div>
  </div>
  