<div class="container my-5" id="myDiv">
    
    
  
    <h2 class="mt-5">Nuestros Pilares 🤓</h2>
  
    <div class="row text-center">
      <div class="col-12 col-lg-4 px-3 mt-4 ">
        <mat-card class="example-card item">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">
              <em class="fab fa-sketch"></em>
            </div>
     
            <mat-card-title>Diseño Ux/Ui</mat-card-title>
          
          </mat-card-header>
          <img mat-card-image src="https://i.ibb.co/Bw8tNkT/pilar11.png" alt="Photo of a Shiba Inu" class="px-1">
          <mat-card-content>
            <p class="text-secondary">
              Generamos la mejor experiencia de usuario posible, entregando un diseño ideal para cada cliente
            </p>
          </mat-card-content>
        </mat-card>
        
    
      </div>
      <div class="col-12 col-lg-4 px-3 mt-4 ">
        <mat-card class="example-card item">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">
              <em class="fas fa-chart-line" ></em>
            </div>
            <mat-card-title>Compromiso con tu negocio</mat-card-title>
          
          </mat-card-header>
          <img mat-card-image src="https://i.ibb.co/HNnBK6j/pilar22.png" alt="Photo of a Shiba Inu" class="px-1">
          <mat-card-content>
            <p class="text-secondary">
              Buscamos ser parte de tu negocio, entregando valor para que tu empresa siga creciendo
            </p>
          </mat-card-content>
        </mat-card>
  
    
      </div>
      <div class="col-12 col-lg-4 px-3 mt-4 item">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">
              <em class="fas fa-star"></em>
            </div>
            <mat-card-title>Soluciones Modernas</mat-card-title>
          
          </mat-card-header>
          <img mat-card-image src="https://i.ibb.co/8YfRpkW/pilar33.png" alt="Photo of a Shiba Inu" class="mt-5 px-1">
          <mat-card-content>
            <p class="text-secondary">
              Creamos software con las últimas tecnologías disponibles en la industria
            </p>
          </mat-card-content>
        </mat-card>
    
      </div>
    </div>

    

    <div>

    </div>
  </div>
