<div class="container my-5">
    
  
    <h2 class="mt-5">Nuestros Pilares 🤓</h2>
  
    <div class="row text-center">
      <div class="col-12 col-lg-4 px-3 mt-4 item">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">
              <i class="fab fa-sketch"></i>
            </div>
     
            <mat-card-title>Diseño Ux/Ui</mat-card-title>
          
          </mat-card-header>
          <img mat-card-image src="https://i.ibb.co/Bw8tNkT/pilar11.png" alt="Photo of a Shiba Inu" class="px-1">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
        </mat-card>
        <!-- <img src="../assets/pilar11.png" class="w-100 mt-5 mb-2 " alt="ux/ui"/> -->
        
    
      </div>
      <div class="col-12 col-lg-4 px-3 mt-4 ">
        <mat-card class="example-card item">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">
              <i class="fas fa-chart-line" ></i>
            </div>
            <mat-card-title>Compromiso con tu negocio</mat-card-title>
          
          </mat-card-header>
          <img mat-card-image src="https://i.ibb.co/HNnBK6j/pilar22.png" alt="Photo of a Shiba Inu" class="px-1">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain
            </p>
          </mat-card-content>
        </mat-card>
        <!-- <img src="../assets/pilar22.png" class="w-100" alt="bussines" />
        <h4>Compromiso con tu negocio</h4> -->
    
      </div>
      <div class="col-12 col-lg-4 px-3 mt-4 item">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">
              <i class="fas fa-star"></i>
            </div>
            <mat-card-title>Soluciones Modernas</mat-card-title>
          
          </mat-card-header>
          <img mat-card-image src="https://i.ibb.co/8YfRpkW/pilar33.png" alt="Photo of a Shiba Inu" class="mt-5 px-1">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain
            </p>
          </mat-card-content>
        </mat-card>
        <!-- <img src="https://i.ibb.co/4NdKgGs/pilar3.png" class="w-100 mt-5" alt="solutions"/>
        <h4>  </h4>  -->
    
      </div>
    </div>
  </div>
