h2 {
    color: var(--main-color-dark);
}
.mat-card {
    min-height: 460px !important;
    /* transition: all .2s ease-in; */
    
    
}

.item {
    transition: all .2s ease-in;
    

}


.container {
    animation: animationInPilares .8s forwards;

}
em {
    color: var(--main-color);
}

@keyframes animationInPilares {
    0%{
        transform: scale(.2);

    }

    100%{
        transform: scale(1);

    }
    
}



