<div class="container">

    <h2 class="mt-5">Stack tecnológico 😎</h2>
    <div class="row text-center my-5">
        <div class="col-6 col-lg-4">
          <div class="">
            <i class=" display-2 fab fa-angular angular grow"></i>
            <p class="text-secondary">Angular</p>
            
          </div>
        </div>
    
        <div class="col-6 col-lg-4">
    
          <i class="display-2 fab fa-react react grow"></i>
          <p class="text-secondary">React</p>
            
        </div>
        <div class="col-12 col-lg-4">
    
          <i class="display-2 fab fa-vuejs vue grow"></i>
          <p class="text-secondary">Vue</p>
            
        </div>
    </div>
    
    <div class="row text-center mb-5">
        <div class="col-6 col-lg-6">
    
          <i class="display-2 fab fa-node node grow"></i>
          <p class="text-secondary">Node</p>
            
        </div>
        <div class="col-6 col-lg-6">
    
          <i class="display-2  fab fa-php php grow"></i>
          <p class="text-secondary">PHP</p>
            
        </div>
    
    </div>
</div>
