/* You can add global styles to this file, and also import other style files */
/* Colors */
:root {
    --main-color: #7400AD;
    --main-color-hover: #C04BFA;
    --main-color-dark: #49006E;
}
  
.mat-raised-button {
    outline: none !important;
}

.mat-card {
    font-family: 'Open Sans', sans-serif !important;
}

html, body { height: 100%; }
body, h1, h2, h4 { margin: 0; 
    font-family: 'Open Sans', sans-serif !important;
 }
body {
     background-color: #F9F6ED;
}

h1 {
    font-size: 2.5rem !important;
    line-height: 1.2 !important;
    font-weight: bold;
}

h2 {
    font-size: 2rem !important;
}
h4 {
    font-size: 1.5rem !important;
}
.mat-typography {
    font-size: 1em !important;
}