/* You can add global styles to this file, and also import other style files */
.navbar, footer {
    background-color:#7400AD;
    
}


a {
    color: white;
}
#carouselExampleControls {

    margin-top: 106px;
}
html, body { height: 100%; }
body, h1, h2 { margin: 0; 
    font-family: 'Open Sans', sans-serif !important;
 }
